@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.loader {
  @include flex(row);
  @include flexAlign(center, center);
  flex: 1;

  &-icon {
    @include rotate;
    height: 5rem;
    padding: 0 10px;
    opacity: 0.5;
  }
}
