@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.loader {
  align-self: center;
  display: flex;
  flex: 1;

  &-img {
    align-self: center;
    @include rotate;
    height: 5rem;
    padding: 0 10px;
    opacity: 0.5;
  }
}
