@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.loader {
    @include flex(row);
    @include flexAlign(center,center);  
    height: calc(100vh - 25.5em);
  
    &-icon {
      @include rotate;
      height: 5rem;
      padding: 0 10px;
      opacity: 0.5;
    }
  }