@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.characters {
  &-title {
    @include font(3em, $primary-title, center, $primary-color);
  }

  &-pagination-item.MuiPaginationItem-page{
    color: $light;

    &.Mui-selected {
      background-color: $primary-color;
      color: $dark;
    }
  }
}