@font-face {
    font-family: 'RobotoBlack';
    src: url(Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoLight';
    src: url(Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoBold';
    src: url(Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'PaytonRegular';
    src: url(PaytoneOne-Regular.ttf) format('truetype');
}