@import './fonts/fonts.scss';

$primary-title: 'PaytonRegular', sans-serif;
$secondary-title: 'RobotoBlack', sans-serif;
$textBold: 'RobotoBold', sans-serif;
$textLight: 'RobotoLight', sans-serif;

$primary-color: #F8AF03;

$black: #020202;

$light: #FAFAFA;
$bgLight: #CAD6E7;

$dark: #32373E;
$bgDark: #414751;